.language-selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
    gap: 1rem;
}

.language-site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr 0.1fr;
    gap: 1rem;
}

/* Make beautiful delete buttons */
button {
    background-color: #f44336;
    color: white;

    border: none;

}